body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: salmon;
  color:black;
}

h1, h2, h3 {
	font-family: 'Arial Black', Arial, Helvetica, sans-serif;
  margin:10px;
}

p {
  margin:10px 10%;
  width: 50%;
}

a {
  text-decoration:none;
  color:black;
}

a:hover {
  color:white;
  text-decoration:underline;
}

button {
  font-size: 18px;
  margin-top:20px;
  padding: 15px;
  color:black;
  background-color: salmon;
  border:none;
  border-radius: 10px;
}

button:hover {
  color:white;
  text-decoration:underline;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	height:100vh;
}

.container div {
    display:flex;
	  justify-content: center;
    align-items: center;
    align-content: center;
}

.item-0 {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 44%;
  margin-right:5px;
	height:75px;
}

.item-1 {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 44%;
	height:75px;
  margin-left:5px;
}

.item-2 {
	flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius:20px;
  background-color:lightskyblue;
	flex-basis: 90%;
	height:65%;
  margin:10px;
}