/* Font import */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arimo:wght@700&family=Montserrat:wght@300;400;500;600&family=Raleway:wght@300;400;500&display=swap');

/* Primary styles */

body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight:400;
  background-color: salmon;
  color:black;
}

h1 {
	font-family: 'Archivo Black', Arial, Helvetica, sans-serif;
  font-size:36px;
  margin:20px;
  color:darkslateblue;
  text-align:center;
}

h2 {
	font-family: 'Archivo Black', Arial, Helvetica, sans-serif;
  font-size:28px;
  margin:10px;
  color:darkslateblue;
  text-align:center;
}

p.welcome {
  margin:10px;
  text-align:center;
  font-size:18px;
  line-height:24px;
}

p.welcome {
  margin:10px 10%;
  width: 50%;
  text-align:center;
  font-size:18px;
  line-height:24px;
}

a {
  color:darkslateblue;
  text-decoration:none;
}

.slate a:link, a:hover {
  color:white;
  text-decoration:underline;
}

/* Hiding elements */

#quiz, #inputScore, #highScores { 
  display: none; 
} 

/* Container styles */

.small {
  font-family: 'Archivo Black', Arial, Helvetica, sans-serif;
  font-size:18px;
  margin:10px;
  color:darkslateblue;
  text-align:center;
  font-weight:900;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	height:100vh;
}

.container section {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container section .welcome {
  flex-direction:column;
}

.flex-item-0 {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 44%;
  margin-right:5px;
	height:75px;
}

.flex-item-1 {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 44%;
	height:75px;
  margin-left:5px;
}

.flex-item-2 {
	flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius:20px;
  background-color:lightskyblue;
	flex-basis: 90%;
	height:500px;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}

/* Quiz styles */

.answers {
  display: flex;
  flex-direction: column;
}

.answers button {
  font-family: 'Archivo Black', Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-top:20px;
  padding: 15px 25px;
  color:black;
  background-color: salmon;
  border:none;
  border-radius: 10px;
  color:darkslateblue;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}

.answers button:hover {
  background-color:pink; 
  text-decoration:underline;
}

.solution {
  font-size:32px;
  font-weight:700;
  color:white;
  margin-top:30px;
}

.solution hr {
display:none;
}

.inputScore, .highScores {
  width:800px;
  font-size:24px;
}

/*.inputScore*/ button {
  font-family: 'Archivo Black', Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 20px auto 0 auto%;
  padding: 15px 25px;
  color:black;
  background-color: salmon;
  border:none;
  border-radius: 10px;
  color:darkslateblue;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}

/*.inputScore*/ button:hover {
  background-color:pink; 
  text-decoration:underline;
}

/* Score styles */

.scores {
  flex-direction:column;
  flex-wrap:wrap;
  width:75%;
  padding:5px;
  justify-content: center;
}

.scores p {
  display:inline-block;
  font-size:16px;
  line-height:20px;
  margin:5px;
  padding:5px 10px;
}

.scoreButtons {
  display: flex;
}

.scoreButtons button {
  margin:10px;
}
/* Button styles */

.startQuiz {
  font-family: 'Archivo Black', Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-top:20px;
  padding: 15px 25px;
  color:black;
  background-color: salmon;
  border:none;
  border-radius: 10px;
  color:darkslateblue;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}

.start-button:hover {
  color:white;
  text-decoration:underline;
}